@font-face {
  font-family: 'Karla_regular';
  src: url(../fonts/Karla-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Karla_bold';
  src: url(../fonts/Karla-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_regular';
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_medium';
  src: url(../fonts/IBMPlexSans-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_bold';
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype"); }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }
.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.3333333333%; }

.col-2-sm {
  width: 12.6666666667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.3333333333%; }

.col-5-sm {
  width: 37.6666666667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.3333333333%; }

.col-8-sm {
  width: 62.6666666667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.3333333333%; }

.col-11-sm {
  width: 87.6666666667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%; }
  .col-2 {
    width: 12.6666666667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.3333333333%; }
  .col-5 {
    width: 37.6666666667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.3333333333%; }
  .col-8 {
    width: 62.6666666667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.3333333333%; }
  .col-11 {
    width: 87.6666666667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

h1, h6, h5, h4, h3, h2 {
  font-family: 'Karla_regular';
  font-size: 3.815rem;
  margin-top: 0px;
  margin-bottom: 0px; }

h2 {
  font-size: 3.052rem; }

h3 {
  font-size: 2.411rem; }

h4 {
  font-size: 1.953rem; }

h5 {
  font-size: 1.563rem; }

h6 {
  font-size: 1.25rem; }

#regHead {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0; }

div {
  margin-top: 0px;
  margin-bottom: 0px; }

.container_main {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

.menu {
  text-align: center; }
  .menu h4 {
    padding: 16px; }
  .menu a {
    color: #3A7D44;
    text-decoration: none; }

nav {
  border-top: solid black 2px;
  border-bottom: solid black 2px; }
  nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  nav li {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px; }
  nav a {
    text-decoration: none;
    font-family: 'Plex_medium';
    font-size: 1.25rem;
    color: #3A7D44; }

.home-head {
  margin-top: auto;
  margin-bottom: auto; }

section {
  padding-top: 16px;
  padding-bottom: 16px; }

.registrationForm {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  border-radius: 5px;
  border: gray solid 0.3rem; }
  .registrationForm form {
    max-width: 300px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Karla_regular';
    margin-left: auto;
    margin-right: auto; }
  .registrationForm label {
    width: 90%;
    display: block;
    font-size: 1rem;
    margin-top: 16px; }
  .registrationForm input {
    width: 98%;
    font-size: 1.25rem;
    height: 32px;
    line-height: 30px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border: gray solid 0.5px;
    border-radius: 5px;
    cursor: text; }
  .registrationForm a {
    text-decoration: none; }
  .registrationForm p {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 0.8rem; }

button {
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-color: black;
  border-radius: 5px; }

.login-cont .container {
  max-width: 1000px;
  width: 100%; }

.login-cont .registrationForm {
  padding-top: 150px;
  padding-bottom: 150px; }

.events-body {
  background-color: #F1FAEE; }

.events-heading {
  color: #1D3557;
  text-align: center;
  padding: 64px 0 64px 0; }
  .events-heading h1, .events-heading h2, .events-heading h3, .events-heading h4, .events-heading h5, .events-heading h6 {
    margin: auto 0 auto 0; }

.events-card-container, .checkoutForm {
  background-color: #457B9D;
  max-width: 800px;
  margin: 16px auto 16px auto;
  display: flex;
  flex-direction: row;
  padding: 24px 48px 24px 48px;
  border-radius: 16px;
  color: #F1FAEE; }
  .events-card-container .event-card-details h6, .checkoutForm .event-card-details h6 {
    padding: 8px 0px 8px 0px; }
  .events-card-container .book-button, .checkoutForm .book-button {
    margin: auto 0 auto auto; }
  .events-card-container button, .checkoutForm button {
    padding: 16px 24px 16px 24px;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: 0;
    font-family: Karla_regular; }

.checkoutForm {
  font-family: 'Karla_regular';
  font-weight: 600;
  justify-content: center;
  background-color: transparent;
  color: #1D3557; }
  .checkoutForm label {
    display: block;
    padding: 8px 0 8px 0; }
  .checkoutForm input {
    font-family: 'Karla_regular';
    font-weight: bold;
    width: 360px;
    padding: 12px;
    border-color: #1D3557;
    border-radius: 5px; }
  .checkoutForm input:invalid {
    border-color: red; }
  .checkoutForm input:valid {
    border-color: green; }
  .checkoutForm button {
    margin: 16px 0 0 0;
    font-size: 1rem;
    padding: 8px 16px 8px 16px; }

.checkout-2 {
  display: flex;
  flex-direction: row;
  justify-content: center; }
