@font-face {
  font-family: 'Karla_regular';
  src: url(../fonts/Karla-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Karla_bold';
  src: url(../fonts/Karla-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_regular';
  src: url(../fonts/IBMPlexSans-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_medium';
  src: url(../fonts/IBMPlexSans-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Plex_bold';
  src: url(../fonts/IBMPlexSans-Bold.ttf) format("truetype"); }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 33.75em) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 60em) {
    .container {
      width: 75%;
      max-width: 60rem; } }
.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%; }

.col-1-sm {
  width: 4.3333333333%; }

.col-2-sm {
  width: 12.6666666667%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.3333333333%; }

.col-5-sm {
  width: 37.6666666667%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.3333333333%; }

.col-8-sm {
  width: 62.6666666667%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.3333333333%; }

.col-11-sm {
  width: 87.6666666667%; }

.col-12-sm {
  width: 96%; }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.3333333333%; }
  .col-2 {
    width: 12.6666666667%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.3333333333%; }
  .col-5 {
    width: 37.6666666667%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.3333333333%; }
  .col-8 {
    width: 62.6666666667%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.3333333333%; }
  .col-11 {
    width: 87.6666666667%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

div {
  margin-top: 0px;
  margin-bottom: 0px; }

.container_main {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

nav ul {
  display: flex;
  list-style: none;
  padding: 24px 16px;
  flex-direction: row;
  align-items: center; }

nav li:nth-child(1) {
  margin-right: auto; }

nav a {
  text-decoration: none;
  font-family: 'Plex_medium';
  font-size: 1rem;
  margin-left: 16px; }

nav #logo {
  font-size: 1.953rem; }

#home {
  background-color: gray;
  height: 80vh; }

.home-head {
  margin-top: auto;
  margin-bottom: auto; }

h1, h3, h2 {
  font-family: 'Karla_regular';
  font-size: 3.815rem; }

h2 {
  font-size: 3.052rem; }

h3 {
  font-size: 2.411rem; }

#regHead {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0; }

form {
  max-width: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Karla_regular';
  margin-left: auto;
  margin-right: auto; }

.registrationForm {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  border-radius: 5px;
  border: gray solid 0.3rem; }
  .registrationForm label {
    width: 90%;
    display: block;
    font-size: 1rem;
    margin-top: 16px; }
  .registrationForm input {
    width: 98%;
    font-size: 1.25rem;
    height: 32px;
    line-height: 30px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border: gray solid 0.5px;
    border-radius: 5px;
    cursor: text; }
  .registrationForm a {
    text-decoration: none; }
  .registrationForm p {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 0.8rem; }

button {
  font-size: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-color: black;
  border-radius: 5px; }
