@font-face {
    font-family:  Karla_regular;
    src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
    font-family:  Karla_bold;
    src: url(../fonts/Karla-Bold.ttf);
}

@font-face {
    font-family:  Plex_regular;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family:  Plex_medium;
    src: url(../fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family:  Plex_bold;
    src: url(../fonts/IBMPlexSans-Bold.ttf);
}


