@font-face {
    font-family:  'Karla_regular';
    src: url(../fonts/Karla-Regular.ttf) format('truetype');
}

@font-face {
    font-family:  'Karla_bold';
    src: url(../fonts/Karla-Bold.ttf) format('truetype');
}

@font-face {
    font-family:  'Plex_regular';
    src: url(../fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family:  'Plex_medium';
    src: url(../fonts/IBMPlexSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family:  'Plex_bold';
    src: url(../fonts/IBMPlexSans-Bold.ttf) format('truetype');
}


