@import 'fontFamily', 'simple-grid.scss';

//fonts
$reg10: 0.64rem;
$reg13: 0.8rem;
$reg16: 1rem;
$reg20: 1.250rem;
$reg25: 1.563rem;
$reg31: 1.953rem;
$reg39: 2.411rem;
$reg41: 3.052rem;
$reg69: 3.815rem;

h1 {
    font-family: 'Karla_regular';
    font-size: $reg69;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    @extend h1;
    font-size: $reg41;
}

h3 {
    @extend h1;
    font-size: $reg39;
}

h4{
    @extend h1;
    font-size: $reg31;
}

h5 {
    @extend h1;
    font-size: $reg25;
}

h6{
    @extend h1;
    font-size: $reg20;
}

#regHead{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}


div{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container_main{
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    text-align: center;
    h4 {
        padding: 16px;
    }
    a{
                color: #3A7D44;

        text-decoration: none;
    }
}

nav {
border-top: solid black 2px;
border-bottom: solid black 2px;

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content:  center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }
    a {
        text-decoration: none;
        font-family: 'Plex_medium';
        font-size: $reg20;
        color: #3A7D44;
    }
}


.home-head{
    margin-top: auto;
    margin-bottom: auto;
}

section {
    padding-top: 16px;
    padding-bottom: 16px;
}



.registrationForm{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  form {
    max-width: 300px;
    padding-top: 1rem;
    padding-bottom:  1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Karla_regular';
    margin-left: auto;
    margin-right: auto;
} 
  background-color: #C4C4C4;
  border-radius: 5px;
  border: gray solid 0.3rem;
  label {
      width: 90%;
            display: block; 
      font-size: $reg16;
      margin-top: 16px;
  }

  input{
    width: 98%;
    font-size: $reg20;
    height: 32px;
    line-height: 30px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border: gray solid 0.5px;
    border-radius: 5px;
    cursor: text;
  }
  a{
      text-decoration: none;
  }
  p{
      text-align: center;
      color: black;
      text-decoration: none;
      font-size: $reg13;
  }
}

  button {
  font-size: $reg20;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
  padding: 10px;
  padding-left:24px;
  padding-right: 24px;
  border-color:  black;
  border-radius: 5px;
}

.login-cont{
    .container{
        max-width: 1000px;
        width: 100%;
    }
    .registrationForm{
        padding-top: 150px;
        padding-bottom: 150px ;
    }
}

//Events page
.events-body{
    background-color: #F1FAEE;
}

.events-heading{
    color: #1D3557;
    text-align: center;
    padding: 64px 0 64px 0;
    h1{
        margin: auto 0 auto 0;
    }

}

.events-card-container{
    background-color: #457B9D;
    max-width: 800px;
    margin: 16px auto 16px auto;
    display: flex;
    flex-direction: row;
    padding: 24px 48px 24px 48px;
    border-radius: 16px;
    color: #F1FAEE;
    .event-card-details{
        h6{
            padding: 8px 0px 8px 0px;
        }
    }

    .book-button{
        margin: auto 0 auto auto;
    }

    button{
        padding: 16px 24px 16px 24px;
        border-radius: 5px;
        font-size: $reg20;
        margin:  0;
        font-family: Karla_regular;

    }
}

.checkoutForm{
    @extend .events-card-container;
    font-family: 'Karla_regular';
    font-weight:600;
    justify-content: center;
    background-color: transparent;
    color: #1D3557;
    label{
        display: block;
        padding: 8px 0 8px 0;
    }
    input{
        font-family: 'Karla_regular';
        font-weight: bold;
        width: 360px;
        padding: 12px;
        border-color: #1D3557;
        border-radius: 5px;
    }
    input:invalid{
    border-color: red;
    }
    button{
        margin: 16px 0 0 0;
        font-size: $reg16;
        padding: 8px 16px 8px 16px;
    }
}

    .checkout-2{
        display: flex;        
flex-direction: row;
        justify-content: center;
    }
