@import 'fontFamily', 'simple-grid.scss';

//fonts
$reg10: 0.64rem;
$reg13: 0.8rem;
$reg16: 1rem;
$reg20: 1.250rem;
$reg25: 1.563rem;
$reg31: 1.953rem;
$reg39: 2.411rem;
$reg41: 3.052rem;
$reg69: 3.815rem;

h1 {
    font-family: 'Karla_regular';
    font-size: $reg69;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    @extend h1;
    font-size: $reg41;
}

h3 {
    @extend h1;
    font-size: $reg39;
}

h4{
    @extend h1;
    font-size: $reg31;
}

h5 {
    @extend h1;
    font-size: $reg25;
}

h6{
    @extend h1;
    font-size: $reg20;
}

#regHead{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}


div{
    margin-top: 0px;
    margin-bottom: 0px;
}

.container_main{
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    text-align: center;
    h4 {
        padding: 16px;
    }
    a{

        text-decoration: none;
    }
}

nav {
border-top: solid black 2px;
border-bottom: solid black 2px;

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content:  center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
    li {
        padding: 8px;
        margin: 0 8px 0 8px;
    }
    a {
        text-decoration: none;
        font-family: 'Plex_regular';
        font-size: $reg16;
    }
}


section {
   padding: 16px 0 16px 0;
   margin: 1rem 0 1rem 0;
}

.hero{
    margin-top: 0;
    .home-head{
        text-align: center;
        padding: 2rem 0 2rem 0;
    }
    img{
        height: 46rem;
        width: 100%;
    }
}

.about{
    p{
        font-family: 'Karla_regular';
        font-weight: 500;
        font-size: $reg25;
    }

    img{
        width: 15rem;
        height: 100%;
    }
}

.events-section{
    @extend .about
}

.form{
        padding: 2rem 0 2rem 0;
        margin: 0 auto 0 auto;
        
        input{
            border-radius: 2px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            padding: 8px;
            width: 100%;
        }

}

.contact{
    font-family: 'Karla_regular';
    font-size: $reg20;
    label{
        min-width: 15rem;
    }
    input{
        font-size: $reg20;
    }
       textarea{
            border-radius: 2px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            padding: 8px;
            width: 100%;

        }
        #privacy{
            width: unset;
        }
        table{
            td{
                min-width: 10rem;
                padding: 8px;
            }
        }
        .form-btn {
            font-size: $reg20;
            padding: 1rem;
        }
    }

 .form-btn {
    font-family: 'Karla_regular';
    background: #bbff00;
    color: #1d1d1d;
    cursor: pointer;
    font-size: $reg16;
    padding: 0.5rem;
    border: 0;
    transition: all 0.25s;
    border-radius: 5px;
    width: auto;
    position: relative;
    min-width: 150px;

    &:hover {
        background: #2b2bff;
        box-shadow: 0px 6px 15px #0000ff61;
        color: #ffffff;

        &::after {
            opacity: 1;
            transition: all 0.25s;
            color: #ffffff;

        }
    }
}

.registrationForm{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  form {
    max-width: 300px;
    padding-top: 1rem;
    padding-bottom:  1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Karla_regular';
    margin-left: auto;
    margin-right: auto;
} 
  background-color: #C4C4C4;
  border-radius: 5px;
  border: gray solid 0.3rem;
  label {
      width: 90%;
            display: block; 
      font-size: $reg16;
      margin-top: 16px;
  }

  input{
    width: 98%;
    font-size: $reg20;
    height: 32px;
    line-height: 30px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border: gray solid 0.5px;
    border-radius: 5px;
    cursor: text;
  }
  a{
      text-decoration: none;
  }
  p{
      text-align: center;
      color: black;
      text-decoration: none;
      font-size: $reg13;
  }
}

  button {
  font-size: $reg20;
  display: block;
  padding: 10px;
  padding-left:24px;
  padding-right: 24px;
  border-color:  black;
  border-radius: 5px;
}

.ticket-wrapper{
    display: flex;
    align-items: center;
    min-height: 50vh;
    .home-head{
        margin-bottom 32px;
    }
}

.ticket-cont{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    .home-head{
        padding: 1rem;
        max-width: 20rem;    
    }
    .statusForm{
        max-width: 20rem;
        margin: 0 auto 0 auto;
        padding: 16px;
        width: 30%;
        
        form{
            label{
                            display: block;

                padding: 4px 0 4px 0;
                margin: 4px 0 4px 0;
            } 
            input{
            border-radius: 2px;
            border-width: 2px;
            border-style: solid;
            border-color: black;
            padding: 8px;
            width: 100%;
        }
        
        button{
            margin-top: 8px;
        }
        } 
    }
     .ticketStatus{
         max-width: 30rem;
         margin: 0 auto 0 auto;
         padding: 16px;
         table{
             font-family: 'Karla_regular';
             font-size: $reg20;
             font-weight: 600;
             td{
                 padding: 4px;
             }
             tr{
                 :nth-child(1){
                     text-align: right;
                 }
             }
         }
    }
}

.events-section{
    img{
        max-width: 50rem;
        width: 100%;
        margin: 32px auto 0 auto;
    }
}

//Events page
.events-body{
    background-color: #F1FAEE;
}

.events-heading{
    color: #1D3557;
    text-align: center;
    padding: 64px 0 64px 0;
    h1{
        margin: auto 0 auto 0;
    }

}

#events-page{
    :nth-child(2n+1){
        flex-direction: row-reverse;
    }

}


.events-flex-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    :nth-child(2){
        margin-left: auto;
        margin-right: auto;
    }
    .events-flex-item{
        img{
            max-width: 25rem;
        }
        h2{
            padding:16px;
        }
        table{
           td{
                font-family: 'Karla_regular';
                font-weight: 400;
                font-size: $reg25;
                padding: 16px;
            }
        }
        .form-btn{
            font-size: $reg20;
            padding: 16px;
            margin-left: 16px;
            margin-top: 16px;
        }
    }
}

.checkoutForm{
    font-family: 'Karla_regular';
    font-weight:600;
    justify-content: center;
    background-color: transparent;
    color: #1D3557;
    label{
        display: block;
        padding: 8px 0 8px 0;
    }
    input{
        font-family: 'Karla_regular';
        font-weight: bold;
        width: 360px;
        padding: 12px;
        border-color: #1D3557;
        border-radius: 5px;
    }
    input:invalid{
    border-color: red;
    }
    button{
        margin: 16px 0 0 0;
        font-size: $reg16;
        padding: 8px 16px 8px 16px;
    }
}

    .checkout-2{
        display: flex;        
flex-direction: row;
        justify-content: center;
    }
